
{
	margin:0px;
	padding:0px;
}


div#general{

	margin:auto;
	margin-top:50px;
	width:960px;
	height:1050px;
	background-color:#00B0DF;
}


div#novedades{
	width:640px;
	height:350px;
	background-color:white;
}	

div#ofertas{
	float:right;
	width:300px;
	height:700px;
}

div#body{
	margin-top:20px;
	width:640px;
	height:535px;
	text-align:justify;
	color:white;
	font-family:Century Gothic;
	font-size:20px;
}

a{
	color:white;
	
}

p a{
	color: purple;
}